.table {
    width: 100%;
}

.table__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table__header h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 8px;
}

.table__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    padding: 24px;
}

.table__row {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
    margin: 4px 0;
    padding: 8px;
    border-radius: 8px;
}
.table__row__top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
    height: 60px;
}
.table__cell__top__pointer {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.table__cell__top__input,
.table__cell__top__btn {
    border-radius: 4px;
    border: 1px solid #909090;
    color: #000;
    margin: 4px;
    padding: 4px;
}

.table__cell {
    text-align: center;
}
.table__cell__top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

tr { padding: 8px 0px; }
tr:nth-child(even) { background: rgba(211, 206, 206, 0.609); }